name: CI

on:
  merge_group:
  pull_request:
  push:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-go@v6.2.0
      with:
        cache-dependency-path: go.sum
        go-version-file: go.mod
    - uses: golangci/golangci-lint-action@v9.2.0

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-go@v6.2.0
      with:
        cache-dependency-path: go.sum
        go-version-file: go.mod
    - run: go test -v ./...
