name: golangci-lint

on:
  pull_request:
  push:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: actions/setup-go@v6.2.0
    - uses: golangci/golangci-lint-action@v9.2.0
